# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
.next/
out/

# Env / logs
.env*.local
npm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
